*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'poppins' ,'sans-serif';
}

a{
    text-decoration: none;
    color:black;
}
body{
    background-color:white;
}
img{
    cursor:pointer;
}
.d-flex{
    display: flex;
    align-items: center;
}

nav{
    /*border:2px solid red;*/
    padding:10px 20px;
    justify-content:space-between;
    box-shadow: 0 0 10px  rgba(246, 237, 237, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.nav-right img{
    width:  50px;
    margin-right: 20px;

}

.nav-right .myimage{
    width: 50px;
    border-radius: 50%;
}
.nav-left .youtube{
    width: 25px;
}

.nav-left .youtube{
    width:  150px;
}

.nav-middle{
    /*border: 2px solid red;*/
    width:50%;
}
.nav-middle .mic-icon{
    width: 26px;
}

.search-box {
    width:90%;
    border:1px solid rgb(151, 148, 148);
    border-radius:50px;
    justify-content:space-evenly;
    padding-left: 1rem;
}
.search-box input{
    width:80%;
    border:none;
    padding:.4rem;
    outline: none;
    margin-right:20px;
    border-radius:50px;
    background-color: transparent;
    color:black;
}
.search-box img{
    padding:10px;
    /*border:2px solid green;*/
/* border-radius:50px;*/
   
}

.search-Div{
    width:1%;
    background-color: rgb(206, 200, 200);
    /*border-radius: 50px;*/
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
    justify-content: center;
}

.mic-div{
/* border:2px solid green;*/
    width:10px;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
}

.mic-icon
{
    /*border:2px solid red;*/
    /*padding:2px;*/
    border-radius:50px;
    


}
.sidebar{
    /*border:2px solid red;*/
    width:15%;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 50;
    padding:10px ;
    padding-top: 80px;

}

.sidebar-upper a{
    padding: 12px;
}

.sidebar-upper a img{
    width: 25px;
    margin-right: 20px;
}

.sidebar-upper a:first-child{
/*  border: 2px solid red;*/
    border-radius :10px;
    background-color:#b5b4b4;
}

.sidebar-upper a:hover{
    border-radius :10px;
    background-color:#b5b4b4;
}


.mainContainer{
/* border:2px solid red;*/
    margin-left:17%;
    flex-wrap: wrap;
    margin-right:2%;
}

.card{
    /*border:2px solid green;*/
    width: 270px;
    margin-right: 28px;
    margin-bottom:20px;
    margin-top:20px;
}

.thumbnailImg{
    width:100%;
    border-radius: 10px;
}
.logocontainer{
    align-items: flex-start;
}
.logocontainer .myimage{
    border-radius: 50%;
    width:35px;
    margin-right: 25px;
}

.video-container {
    /* border: 2px solid red; */
    padding-left: 2rem;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .video-container .content-left {
    flex-basis: 67%;
    /* border: 2px solid green; */
  }
  
  .video-container .content-left video {
    width: 100%;
  }
  
  .video-container .content-right {
    flex-basis: 31%;
    /* border: 2px solid green; */
    padding-right: 1rem;
  }
  
  .video-list {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:black;
  }
  
  .video-list img {
    width: 200px;
    border-radius: 10px;
  }
  
  .below-video-container {
    /* border: 2px solid green; */
    color:black;
  }
  
  .below-video-container h1 {
    font-size: 1.7rem;
  }
  
  .other-deatils {
    /* border: 2px solid red; */
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 2rem;
  }
  
  .other-deatils-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    /* border: 2px solid green; */
  }
  
  .channelNameAndIcon,
  .joinAndSubsButtonContainer,
  .other-deatils-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .other-deatils-right {
    /* border: 2px solid red; */
    justify-content: space-evenly;
    width: 20%;
  }
  
  .other-deatils-right img {
    width: 20px;
  }
  
  .channelIcon {
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .subsCount {
    font-size: 0.7rem;
  }
  
  .joinAndSubsButtonContainer button {
    /* border: 1px solid red; */
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .joinButton {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color:white;
    color:black;
  }
  .subsButton {
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
  
  .descriptionContainer {
    background-color:white;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .descriptionContainer p {
    font-size: 0.9rem;
  }
  
  .commentContainer {
    margin-top: 2rem;
  }
  
  .commentContainer h1 {
    font-size: 1.5rem;
  }
  .writeCommentContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  .writeCommentContainer input {
    padding: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.5px solid grey;
    color:black;
    width: 100%;
  }
  
  .previousComments {
    margin-top: 1rem;
  }
  
  .nameAndComment .channelName {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
  }
  
  @media only screen and (max-width: 500px) {
    .sidebar a p,
    .uploadImg,
    .notifiationImg,
    .ytLogo,
    .mic-div,.search-Div  {
      display: none;
    }
  .card{
    width: 350px;
  }
  
  .video-container{
    padding-left: .5rem;
  }
  .content{
    flex-direction: column;
  }
  }
  



